<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>


	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>


	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service name="EMS.Services.EmployeeService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EMS/Services/EmployeeService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="EMS.Services.IEmployeeService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="EMS.Services.DepartmentService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EMS/Services/DepartmentService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="EMS.Services.IDepartmentService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="EMS.Services.ProjectService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EMS/Services/ProjectService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="EMS.Services.IProjectService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>




	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>



	<connectionStrings>
		<add name="EMSConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=EMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>